@use "../abstracts" as abs;

/*---------------------------------------*\
    #feature
\*---------------------------------------*/

.feature {
  &__content {
    animation: backInRight;
    animation-duration: 2s;
    margin-top: 4rem;
    text-align: center;
  }

  &__heading {
    font-size: 40px;
    margin-bottom: 30px;
    color: var(--main-heading);
  }
  &__text {
    padding: 0 27px;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 4rem;
    color: var(--paragraph);
  }

  /*---------------------------------------*\
    #feature tablet
  \*---------------------------------------*/

  @include abs.respond-to("tablet") {
    display: flex;
    align-items: center;

    &__mobile {
      margin-bottom: 3rem;
      margin-left: 91px;
    }
  }

  /*---------------------------------------*\
    #feature tablet
  \*---------------------------------------*/

  @include abs.respond-to("tablet") {
    display: flex;
    align-items: center;

    &__content {
      margin-top: 1rem;
    }
  }

  /*---------------------------------------*\
    #feature laptop
  \*---------------------------------------*/

  @include abs.respond-to("laptop") {
    &__text {
      padding: 0 82px 0 21px;
      position: relative;
      line-height: 27px;
      left: 103px;
      text-align: left;
    }
  }
}
